/*Website*/
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Index*/
    /*Nav Bar*/       

    /*Footer*/
        .footerhead {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footerhead .contactinfo {
            text-emphasis-style: open sesame;        
        }
        .contactinfo {
            text-align: center;
            margin: 1em auto;
            border:#000000;
            border-style:ridge;
            padding: 1%;
            max-width: fit-content;
        }
        footer a {
            text-decoration: none;
        }
        footer a:hover {
            text-decoration: underline;
        }
        .container .indexp {
            display: flex;
            justify-content: center;
            text-align: center;
                      
        }

        .container .indexp2 { 
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .container .indexp3 {
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .container .indexp4 {
            display: flex;
            justify-content: center;
            text-align: center;
            font-style: italic;
        }
    
        header {
            border-top-left-radius: 50%;
            border-color: aquamarine;
            border-style: groove;
            border-width: .5cap;
        }

        footer {
            border-bottom-right-radius: 50%;
            border-color: aquamarine;
            border-style: groove;
            border-width: .5cap;
        }

/*Directions*/
        .directionsli {
            font-family:'Times New Roman', Times, serif;
            color:black
}
/*Ingredients*/

        .ingredientsheader {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .ingredientsheader2 {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ingredientsli {
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        }
    /*Table*/
        .Nutritable {
            display: flex;
            margin: 20px auto;
            table-layout: auto;
            width: 150px;
            font-family: 'Courier New', Courier, monospace;
            font-size: 1em;
            border-collapse: collapse;
        }
        td,th {
            border: 1px;
            margin: auto;
            border-style: solid;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {background-color: bisque;}



/*Form.html*/

        .container .nameform {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .container .textbox {
            display: flex;
            justify-content: center;
            align-content: flex-start;
        }

        .textbox form label {
            display: block flex;
            justify-content: space-evenly;
        }

        .container .email {
            display: flex;
            justify-content: center;
            align-content: space-evenly;
        }

        .container .dropdown {
            display: flex;
            justify-content: center;
            align-content:space-between;

        }
        .container .submitbutton {
            display: flex;
            justify-content: center;
            align-content:space-between;

        }


