/*Comment 1*/
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:burlywood;
    font-size: 2em;
    margin: 0;
    padding: 0;
    box-sizing:content-box;
    background-color:rgb(178, 143, 212)
}

/*Website*/

    
/*Index*/

/*Directions*/
#directionsli {
    font-family:'Times New Roman', Times, serif;
    color:black
}
/*Ingredients*/
#ingredientsli {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}